# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# PyInstaller
*.manifest
*.spec

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDE & editor settings
.vscode/
.idea/
*.sublime-*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
